PORT=8080
DATABASE_URL=postgresql://youruser:yourpass@yourhost:5432/yourdb
DB_SSL=true
JWT_SECRET=supersecurelongsecret
ALLOWED_ORIGINS=https://singlestennis.netlify.app,https://singlestennis-production.up.railway.app

VITE_API_BASE_URL=https://singlestennis-production.up.railway.app
